 {% capture site_categories %}
            {% for category in site.categories %}{{ category | first }}
                {% unless forloop.last %},{% endunless %}
            {% endfor %}
        {% endcapture %}
        {% assign categories_list = site_categories | split:',' | sort %}
        
        <div class="category_box animated fadeIn">
            <h2> CATEGORY </h2>           
            <ul>
               {% for item in (0..site.categories.size) %}{% unless forloop.last %}  
                    {% capture this_word %}{{ categories_list[item] | strip_newlines }}{% endcapture %}
                    <li><a href=" {{site.url}}/categories/{{this_word | strip }} "> {{ this_word }} </a></li>
                    <br/>
               {% endunless %}{% endfor %}
            </ul>
        </div>
